*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: rgb(255, 255, 255);
    text-align: end;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

}

nav ul li{
    flex: 1;

}

nav ul li a {
    display: block;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding-top:20px;
    padding-bottom: 20px; 
    font-size: 20px;
    transition: background-color 0.3s;
    
}

nav ul li a:hover{
    background-color: rgb(185, 185, 185);
}

body{
    width: 100%;
    height: 100vh;
}

.logo{
    height: 55px;
}

h2{
    display: block;
    text-align: left;
    font-size: 30px;
    padding-left: 350px;
}

.name{
    font-size: 40px;
    padding-top: 40px;
}

.box{
    padding-left: 365px;
}

p{
    display: block;
    text-align: center;
    padding-right: 750px;
    padding-left: 50px;
    font-size: 25px;
    padding-top: 10px;
}

.cod{
    padding-top: 40px;
}

.product1{
    display: block;
    width: 200px;
    position: absolute;
    right: 0%;
    left: 60%;
    top: 25%;
}

.product1{
    background-image: product1orig;
    display: block;
    width: 300px;
    height: 460px;
    background-color: rgb(226, 220, 210);
    border-radius: 10%;
    position: absolute;
    right: 0%;
    left: 65%;
    top: 20%;
    backdrop-filter: blur(35px);
    
}

.name2{
    font-size: 40px;
    padding-top: 220px;
    padding-right: 380px; 
    text-align: end;
}

.box2{
    text-align: end;
    padding-right: 445px;
}

.cod2{
    padding-left: 700px;
    padding-right: 50px;
    padding-top: 40px;
}

.next{
    padding-left: 700px;
    padding-right: 50px;
}

.next2{
    padding-left: 700px;
    padding-right: 50px;
    padding-bottom: 150px;
}

.product2{
    display: block;
    width: 500px;
    position: absolute;
    right: 0%;
    left: 5%;
    top: 120%;
    border-radius: 10%;
}